@{
    ViewData["Title"] = "Home Page";
}

<h1>I don't have anything because I couldn't scaffold the database because my mac won't download version 3.1.
    I have tried for hours and I'm going to try to fix it again tomorrow, but this has been really hard to figure out.</h1>

